@import url('./css.css');

header{
    width: 100%;
    height: 70vh;
}

header nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px 100px;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-wrap: nowrap;
}

header nav ul li{
    list-style: none;
    margin: 0px 10px;
    font-size: 1.5em;
}